.header {
    background: linear-gradient(90deg, #415BD2 0%, #8DA1F7 100%);
    padding: 8px 0 15px 15px;
}


.header__nav {
    border-bottom: 1px solid rgba(255, 255,  255, 0.2);
    padding-bottom: 12px;
    margin: 0 0 20px;
}

.nav__list {
    margin: 0;  
}


.header__buttom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.header__buttom-right{
    display: flex;
    gap: 12px;
}


