.sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar__link {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.sidebar__item-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}